* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}

form {
  width: 600px;
  margin: 0 auto;
}

fieldset {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid gray;
  margin-bottom: 16px;
}

legend {
  padding: 0 8px;
}

/* dados pessoais */

#dados-pessoais {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

#dados-pessoais input {
  width: 100%;
}

/* habilidades */

#habilidades label {
  display: flex;
}