* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}

form {
  width: 600px;
  margin: 0 auto;
}

fieldset {
  padding: 16px;
}

legend {
  padding: 0 8px;
}

#dados-pessoais {
  display: grid;
}