* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}

form {
  width: 600px;
  margin: 0 auto;
}

fieldset {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid gray;
  margin-bottom: 16px;
}

legend {
  padding: 0 8px;
}

/* dados pessoais */

#dados-pessoais {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

#dados-pessoais input {
  width: 100%;
}

/* habilidades */

#habilidades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

#habilidades > p {
  grid-column: 1 / -1;
  margin-bottom: 8px;
}

#habilidades label {
  display: flex;
  gap: 4px;
}
#habilidades  label:not(:last-child) {
  margin-bottom: 8px;
}

/* sobre  */

textarea {
  width: 100%;
  resize: none;
}

#sobre > p {
  margin-bottom: 8px ;
}

#sobre div {
  position: relative;
}

#sobre > span {
  position: absolute;
  bottom: 0;
  right: 0;

  transform: translate(-40%, -50%);
}